@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    padding: 5px;
    display: grid;
    grid-template-columns: 25% 5% auto 22% 5%;
}

.header__title {
    display: inline;
    font-size: 1.25rem;
    margin: 10px;
    grid-template-columns: 1;
}

.header__menu {
    margin: 12px;
}

.header__search {
    display: inline;
    max-width: 300px;
    margin: 5px;
}

.search__input {
    float: left;
    width: 80%;
    border-radius: 4px 0px 0px 4px;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    font-size: 1.2rem;
    border: none;

}

.search__input:focus {
    border: solid 1px rgb(128, 189, 255);
    animation: border 0.15s linear;
}

.search__btn {
    background-color: rgb(0, 123, 255);
    color: rgb(236, 236, 236);
    width: 20%;
    border-radius: 0px 4px 4px 0px;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    font-size: 1.2rem;
    border: none;
}

.header__user {
    margin: 12px;
}


/* Main */

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

/* Nav */

.main__nav {
    background-color: rgb(33, 37, 41);
    grid-column: 1;
    height: 540px;
    padding: 10px;
}

.nav__ul {
    list-style-type: none;
    color: rgb(153, 153, 153);
    padding-left: 20px;
}

.nav__ul li h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 10px;
}

.nav__ul li h5 {
    margin-bottom: 15px;
}

.nav__ul li a {
    text-decoration: none;
    color: rgb(153, 153, 153);
    margin: 10px 10px 0px 10px;

}


/* Secction */
.content {
    grid-column: 2 / 5;
    margin: 20px;
    height: 500px;
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    color: rgb(153, 153, 153);
    margin: 20px 0px;
}

/* Cards */

.main__cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
}

.main__card {
    border-radius: 0.25rem;
    color: rgb(242, 242, 242);
}

.main__card--blue {
    background-color: rgb(0, 123, 255);
    animation: movie 0.3s ease;
}

.main__card--blue:hover {
    animation: movie2 .3s ease;
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    animation: movie 0.3s ease;
}

.main__card--yellow:hover {
    animation: movie2 0.3s ease;
}

.main__card--green {
    background-color: rgb(40, 167, 69);
    animation: movie 0.3s ease;
}

.main__card--green:hover {
    animation: movie2 0.3s ease;
}

.main__card--red {
    background-color: rgb(220, 53, 69);
    animation: movie 0.3s ease;
}

.main__card--red:hover {
    animation: movie2 0.3s ease;
}

.card__top {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.card__top--blue {
    border-bottom: rgb(0, 99, 204) solid 2px;
}

.card__top--yellow {
    border-bottom: rgb(230, 172, 0) solid 2px;
}

.card__top--green {
    border-bottom: rgb(35, 144, 60) solid 2px;
}

.card__top--red {
    border-bottom: rgb(195, 34, 50) solid 2px;
}

.card__bottom {
    height: 50px;
    padding: 10px;
    margin: auto;
}

.fa-chevron-right {
    float: right;
}



/* Movie!!!!!!! */
@keyframes movie {
    50% {
        transform: rotate(20deg);
        background-color: rgb(255, 255, 255);
    }
}

@keyframes movie2 {
    25% {
        transform: rotate(2deg);
        background-color: rgb(217, 217, 217);
    }

    50% {
        transform: rotate(10deg);
        background-color: rgb(255, 255, 255);
    }

    75% {
        transform: rotate(2deg);
        background-color: rgb(217, 217, 217);
    }
}

@keyframes border {
    from {
        border-color: rgb(255, 255, 255);
    }

    to {
        border-color: rgb(128, 189, 255);
    }
}

/* Reszponzivitás */

@media screen and (max-width: 700px) {
    .main__cards {
        display: block;
    }

    .main__card {
        margin-bottom: 10px;
    }

    .main__nav {
        min-width: 120px;
    }

    .nav__ul li a,
    .nav__ul li h4 {
        display: none;
    }

    .nav__ul {
        padding-left: 20px;
    }
}


/*  footer {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    padding: 5px;
  } */