$main-yellow: #fdcc52;
$main-white:#fff;
$main-black: #000;
$header-gradient-from: #da2431;
$header-gradient-to: #7a4397;
$header-background: #e6e6e6;
$card-color: #ae325c;
$heart-red: #ff0000;
$footer-color: #808080;
$modal-background: rgba(0, 0, 0, 0.5);
$social-twitter: #1da1f3;
$social-facebook: #3b5999;
$social-gmail: #dd4c39;